/* SVG-specific styles — import in <defs><style> */

text {
  font-family: var(--font-sans);
  font-size: var(--font-size-body);
  fill: var(--system-balck);
  text-anchor: middle;
  dominant-baseline: middle;

  &.inverse {
    fill: var(--system-white)
  }

  &.h3 {
    font-size: var(--font-size-h3);
  }
  &.h2 {
    font-size: var(--font-size-h2);
  }
  &.h1 {
    font-size: var(--font-size-h1);
  }

  &.left {
    text-anchor: start;
  }

  &.right {
    text-anchor: end;
  }

  &.hanging {
    dominant-baseline: hanging;
  }

  &.auto {
    dominant-baseline: auto;
  }

}

.black {
  fill: var(--system-balck);
}


.shadow {
  fill: var(--system-balck);
  opacity: 0.25;
}


.seat {
  stroke: none;
  &.parti-s { 
    fill: var(--parti-s);
  }
  &.parti-m { 
    fill: var(--parti-m);
  }
  &.parti-sd { 
    fill: var(--parti-sd);
  }
  &.parti-v { 
    fill: var(--parti-v);
  }
  &.parti-c { 
    fill: var(--parti-c);
  }
  &.parti-kd { 
    fill: var(--parti-kd);
  }
  &.parti-mp { 
    fill: var(--parti-mp);
  }
  &.parti-l { 
    fill: var(--parti-l);
  }
  &.parti-d { 
    fill: var(--parti-d);
  }
  &.parti-ovriga { 
    fill: var(--parti-ovriga);
  }
}

.vote {
  fill: var(--gray-68);

  &.ja {
    fill: var(--vote-ja);
  }

  &.nej {
    fill: var(--vote-nej);
  }

  &.avstår {
    fill: var(--vote-avstår);
  }

  &.frånvarande {
    fill: var(--vote-frånvarande);
  }
}
